* {
    
}

.order-detail {
    margin-top: 3%;
    margin-left: 5%;
}

.product-order-recevied {
    margin-top: 3%;
    margin-left: 5%;
}

.order-bill {}

.order-bill {
    border: 1px solid whitesmoke;
    background-color: #d6e8f9;
    padding: 24px;
    margin-top: 5%;
}

.order-recevied {
    background-color: white;
}

.price-total {
    padding: 9px;
    border-top: 1px solid #e1e1e1;
}

.price-all {
    padding: 9px;
}

h7#price-provisional {
    float: right;
}

h7.payment-price-provisional {}

.price-provisional {
    margin-top: 35px;
    border-top: 1px solid #e1e1e1;
    padding: 7px;
}

.payment-product-all {
    border-bottom: 1px solid #e1e1e1;
    padding: 11px;
}

.payment-voucher {
    width: 100%;
    height: 40px;
    margin-top: 13px;
    padding: 10px;
}

input#payment-voucher {
    float: left;
    width: 72%;
    height: 43px;
}

h7#product-price-payment {float: right;margin-top: 25px;}

h7#product-name-payment {margin-left: 10px;}

img#product-pictures-payment {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 12px;
}

div#payment-left {
    border-left: 1px solid #e1e1e1;
    background-color: #fafafa;
}



.payment-right {
    margin-top: 5%;
}

.payment-left {
    margin-top: 5%;
    margin-left: 7%;
}

hr.line-payment-page {
    width: 92%;
    float: left;
    margin-bottom: 6%;
}

.payment-finish {
    margin-top: 30px;
    margin-bottom: 70px;
}

a#back-cart {
}

.payment-method {
    margin-top: 10px;
}

.shipping-method {
    margin-top: 3%;
}

.address {margin-top: -6px;}

.payment-the-provincial {
}

select.address-item {
    float: left;
    margin-right: 8px;
    width: 30%;
    height: 40px;
}

input#payment-address {
    width: 92%;
    height: 40px;
    margin-top: 10px;
}

input#payment-email {
    width: 69%;
    height: 40px;
}

input#payment-numberphone {
    float: right;
    margin-right: 8%;
    width: 22%;
    height: 40px;
}

input#payment-name {
    width: 92%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 2%;
}

ol#payment {
    background-color: white;
    margin-left: -2%;
    margin-top: -1%;
}

.payement-main {
    background-color: white;
}

h3.title-name-shop {
}

.notification-pay {
    margin-bottom: 9%;
}

i.fa.fa-trash {
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    color: black;
}

.list-product-purchase {
    margin-bottom: 4%;
}

td.row-cart-price {
    text-align: center;
}

td.title-cart-price {
    text-align: center;
    font-weight: bold;
}

img#product-pictures-purchase {
    width: 100%;
    height: 100%;
    border: 1px white;
}

div#product-pictures-purchase {
    width: 168px;
    height: 168px;
    margin-left: 20%;
    border: 1px solid white;
    padding: 1px 1px;
}

a.continue-purchase {
    margin-left: 44%;
}

h7.none-product-purchase {
    margin-left: 40%;
}

td.row-cart {
    height: 165px;
    text-align: center;
}

td.row-cart {}

table.table.table-bordered {
    margin-left: 2%;
    margin-right: 2%;
    width: 97%;
    margin-top: 25px;
}

tr.list-product {
    background-color: #ddd;
    text-align: center;
}

h4.title-cart {
    margin-left: 46%;
    margin-top: 3%;
}

form.wrap-search-home {
    height: 39px;
    width: 100%;
}

input.search-input {
    width: 100%;
    height: 100%;
}

div#cd-search {
    display: none;
    position: absolute;
    z-index: 99999;
    right: 3px;
    width: 353px;
    float: right;
}

div#product-search {
    margin-left: 3%;
}

section#result-search-product {
    margin-left: 3%;
}

h6#title-key {
    margin-left: -5%;
}

.title-search {
    margin-left: 45%;
}

div#product-current {
    margin-left: 37px;
    margin-top: 28px;
}
h6#product-recent-view {
    margin-left: 5%;
    margin-top: 16%;
    border: 1px solid #e97c91;
    width: 187px;
    padding: 5px;
    border-radius: 25px;
}

div#buy-product {
    margin-top: 6px;
}
span.buy-product {
    border: 1px solid blue;
    background: #a0f0fd;
    padding: 5px;
    margin: auto;
}

div#product-all {
    margin-right: 12px;
}

.row {
    width: 100%;
}

div#order-re {
}

.product-all {
    margin-top: 9%;
    margin-left: 12%;
}

.top-content-directory {
    margin-top: 10px;
}

.sort-product {
    float: left;
    margin-left: 12%;
}

.pagination {
    float: right;
    margin-right: 4%;
}

li.page-item.disabled {
    float: left;
}

select.form-dir {
    padding: 4px;
}

.banner-directory {
    width: 850px;
    height: 300px;
    margin-left: 10%;
}

li#dir {
    list-style-image: url('icon-ul.png');
    margin-left: 5%;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    line-height: 39px;
    text-transform: capitalize;
}

div#buy-home {
    margin-top: 6px;
}
h6#dir {
    margin-left: 5%;
    margin-top: 1%;
    border: 1px solid #e97c91;
    width: 187px;
    padding: 5px;
    border-radius: 25px;
}

h4#same {
    margin-left: 0%;
    margin-top: 1%;
    border: 1px solid;
    width: 272px;
    padding: 3px;
    border-radius: 25px;
}

.product-same {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 1%;
}

textarea#exampleFormControlTextarea1 {
    width: 100%;
    height: 400px;
}

.product-description {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 1%;
}

h4#des {
    margin-left: 0%;
    margin-top: 3%;
    border: 1px solid;
    width: 277px !important;
    padding: 3px;
    border-radius: 25px;
}

button.btn {
    margin-top: 46px;
    background-color: #fe5252;
    width: 299px;
    height: 51px;
    color: white;
    margin-left: -170px;
}

button#btnUseVoucher {width: 101px;height: 43px;background-color: #c8c8c8;float: right;margin-top: 0px;}

button#btnPaymentFinish {
    background: blue;
    float: right;
    margin-top: -21px;
    margin-right: 60px;
    width: 201px;
}

button#btn-pay {
    margin-top: 0%;
    margin-left: 77%;
}

.quantityPurchased {
    margin-top: 12px;
}

input#example-number-input {
    width: 78px;
    margin-left: 3%;
    margin-top: -5px;
    float: left;
}

input#example-number-input-pay {
    width: 78px;
    margin-left: 26%;
    float: left;
}

label#quantityPurchased {
    float: left;
}

label#color {
    float: left;
}

div#quantity {
    margin-top: 1%;
}

select.form-control {
    width: 116px;
    margin-left: 11%;
    margin-top: 2%;
}

div#productPictures {
    width: 320px;
    height: 320px;
    margin-left: 9%;
    margin-top: 5%;
    border: 1px solid;
    padding: 1px 1px;
    border-radius: 18px;
}

.form-buy {
    margin-top: 2%;
    margin-left: 7%;
    /* border-left: 1px solid; */
}


body {
    background-color: #f5f5f5;
}

section#productDetail {
    margin: 0 8%;
    background-color: #ffffff;
}

img#productPictures {
    width: 300px;
    height: 300px;
    margin-left: 2%;
    margin-top: 3%;
    border: 1px white;
}

div#product-feature-images {
    margin-left: 12%;
}

img#product-feature-images {
    width: 80px;
    height: 80px;
    margin-left: 7px;
    margin-top: 5px;
    border: 1px solid white;
}

span#price {
    color: #29a250e8;
    font-size: 26px;
}

.card-body {
    text-align: center;
}

.line-title.col-md-9 {
    size: 3px;
    width: 73%;
    border-top: 1px solid #ddd;
    bottom: 11px;
    margin-left: 14%;
}

img.img-fluid.mx-auto.d-block {
    margin-bottom: 8px;
    width: 273px;
    height: 273px;
}

img.img-fluid.mx-auto.d-block {}

span.buy-home {
    border: 1px solid blue;
    background: #a0f0fd;
    padding: 5px;
    margin: auto;
    }

a.title-box-home.col-md-2 {
    border: 1px solid #ddd;
    padding: 8px;
    margin-left: 1%;
}

.col-xs-3 {
    margin-left: 4%;
}

.wrap-box-center.col-sm-12 {
    margin-top: 12px;
}

section.topPro {
    margin-top: 24px;
    margin-bottom: 7px;
}

section#categoryTops {
    border-top: 4px solid red;
}

img#cat {
    padding: 3px;
    box-shadow: 0px 1px 2px #f6f6f6;
    border: 1px solid #f6f6f6;
    width: 100%;
}

div#cat {
    padding: 0px 5px;
    border: 2px black;
    line-height: 20px;
}

section#baner {
    border-bottom: 5px green;
}

div#carouselExampleIndicators {
    width: 100%;
    height: 458px;
    margin: auto;
    border: 2px solid #ccd4de;
    padding: 2px;
     margin-bottom: 5%; 
}

li#support {
    margin-bottom: 4%;
    border-bottom: 1px solid #527990;
    padding: 5%;
}
a#support {
    color: white;
}

ul#ulFooter {
    margin-left: -1em;
    color: white;
}
.input-group.input-group-sm {
    width: 87%;
}

input#exampleFormControlInput1 {
    width: 82%;
}

h5#titleFooter {
    color: white;
    border-bottom: 1px solid #527990;
    padding:3%
}

.colum {margin-left: 11%;}

div#category {
    margin-left: 0%;
    width: 100%;
    margin-top: 0.9em;
}

footer.container {
    height: 388px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background: #333;
    position: absolute;
}

a.nav-item.nav-link {
    margin-left: 28px;
}

.navbar-nav {
    margin-left: 9%;
}